body{
    display: flex;
    justify-content: center;
}
.wrap{
    width: 70%;
    height: 1150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1%;
    border: 2px solid black;
}
.bag{
    background: #777777;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.lh{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 29%;
    height: 100%;
}
.header{
    width: 70%;
    height: 100%;
}
.naw{
    width: 29%;
    height: 775px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.nawt{
    width: 100%;
    height: 440px;
}
.to{
    width: 100%;
    height: 160px;
}
.ba{
    width: 70%;
    height: 780px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.bb{
    width: 70%;
    height: 160px;
}
.aa{
    width: 29%;
    height: 160px;
}
.tob{
 width: 70%;
 height: 610px;
}
.rp{
    width: 29%;
    height: 610px;
}
.non{
    width: 100%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.none{
    width: 49%;
    height: 150px;
    display: none;
}
.footer{
    width: 100%;
    height: 100%;
}
b{
    color: red;
}
h2{
    color: white;
}
@media screen and (min-width: 0px) and (max-width: 1000px) {

    .wrap{
        width: 100%;
        height: 2000px;
        row-gap: 5px;
        align-content: center
    }
    .lh{
        width: 100%;
        height: 200px;
        display: flex;
        justify-content: space-between;
    }
    .logo{
        width: 29%;
        height: 100%;
    }
    .header{
        width: 70%;
        height: 100%;
    }
    .naw{
        width: 100%;
        height: 200px;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
    }
    .nawt{
        width: 100%;
        height: 200px;
    }
    .ba{
        width: 100%;
        height: 1100px;
    }
    .bb{
        width: 70%;
        height: 19%;
    }
    .aa{
        width: 29%;
        height: 19%;
    }
    .tob{
        width: 100%;
        height: 600px;
    }
    .rp{
        width: 100%;
        height: 270px;
    }
    .to{
        width: 100%;
        height: 175px;
        display: none;
    }
    .non{
        width: 100%;
        height: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 8px;
    }
    .none{
        width: 49%;
        height: 200px;
        display: flex;
    }
    .footer{
        width: 100%;
        height: 227px;
    }

}
